*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

main{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.add{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form{
    display: flex;
    margin: 0;
    width: 100%;
    gap: 20px;
}

.todo{
    font-size: 15px;
    color: rgb(179, 179, 179);
    margin: 0;
}

.todo2{
    font-size: 30px;
    color: #333;
    text-align: left;
    margin: 0;
}

input{
    flex-grow: 1;
    padding: 5px 0 5px 10px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    margin-left: 40px;
}

.addTask{
    background-color: #337ab7;
    color: white;
    border: transparent;
    border-radius: 4px;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    cursor: pointer;
}

.addTask:active{
    background-color: #255784;
}

li{
    display: flex;
    gap: 12px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    height: 50px;
    padding: 0 20px;
    align-items: center;
}

li span{
    flex-grow: 1;
    text-align: left;
}


.img{
    width: 30px;
    height: auto;
    color: red;
}

.delete-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.list {
    overflow: hidden;
}