.container {
    width: 100%;
    height: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.intro{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid #ccc;
}

.login{
    font-family:'Montserrat';
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 40px;
    justify-content: center;
    box-sizing: border-box;
}

.logo{
    width: 70px;
    height: auto;
    top: 10px;
    left: 10px;
    position: absolute;
}

.text{
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}

.stories{
    width: 500px;
    height: auto;
    display: flex;
    margin: auto;
}

.best{
    background: linear-gradient(to right, orange, red, purple);  
    background-clip: text;
    color: transparent;
}

.email{
    font-family: 'Montserrat';
    width: 100%;
    height: 20px;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 7px 10px 7px 10px;
    font-size: 14px;
}

.password{
    font-family: 'Montserrat';
    width: 100%;
    height: 20px;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 7px 10px 7px 10px;
    font-size: 14px;
}

.sign{
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    background-color: #0967ff;
    color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat';
}

.forgot{
    width: 100%;
    height: 20px;
    margin: 0 0 20px 0;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    font-family: 'Montserrat';
}

.facebook{
    font-family: 'Montserrat';
    width: 100%;
    height: auto;
    margin: 10px 0 5px 0;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: transparent;
    padding: 7px 10px 7px 10px;
    font-size: 14px;
}

.new{
    font-family: 'Montserrat';
    width: 100%;
    height: auto;
    margin: 5px 0 5px 0;
    border-radius: 15px;
    border: 1px solid #0967ff;
    color: #0967ff;
    background-color: transparent;
    padding: 7px 10px 7px 10px;
    font-size: 14px;
}

.meta{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.metalogo{
    width: 15px;
    height: auto;
    display: block;
}

.metatext{
    font-size: 14px;
}   

.enter{
    text-align: left;
    font-size: 16px;
}

.foot{
    color: gray;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.footr{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}