@font-face {
  font-family: 'Quell';
  src: url('fonts/quelllinear-extrabold.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

.container{
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 5px;
}

.intro{
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.logo{
    font-family: 'Quell', sans-serif;
    font-size: 60px;
    color: #0967ff;
    margin: 0%;
    align-self: start;
}

.text{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0%;
    text-align: left;

}

body{
    background-color: #F6F6F6;
}

.login{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.line{
    width: 100%;

}

.form{
    font-family:Arial, Helvetica, sans-serif;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: white;
    gap: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.email{
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    width: 300px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}

.password{
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    width: 300px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.enter{
    margin-top: 10px;
    background-color: #0967ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    justify-content: center;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px; 

}

.forgotpass{
    background-color: white;
    color:#0967ff;
    padding: 10px;
    margin: 0 0 0 0;
    border: none;
    font-size: 14px;
}

.newacc{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;    
    border: none;
    padding: 10px;
    margin: 10px 0 0 0;
    background-color: #43b72a;
    border-radius: 8px;
    color: white;
    width: 70%;
    justify-content: center;
}

.page{
    position: absolute; 
    top: 100%;          
    margin-top: 20px;   
    width: 400px;      
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    white-space: nowrap; 
}