<div class="grid">

  @for (product of products; track product.id) {

    <div class="card">

      <img [src]="product.image" alt="{{product.name}}" />

      <h2>{{ product.name }}</h2>

      <p>{{ product.description }}</p>

      <p><strong>{{ product.price }} ₸</strong></p>

      <div class="rating">
        @for (star of [1,2,3,4,5]; track star) {
          <span>
            {{ star <= product.rating ? '★' : '☆' }}
          </span>
        }
      </div>

      <a [href]="product.link" target="_blank">
        View on Kaspi
      </a>

      <button (click)="share(product)">Share</button>

    </div>

  }

</div>