*{
    box-sizing: border-box;
}

.body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}

.first{
    display: flex;
    align-items: center;
    gap: 15px;
}

.second{
    display: flex;
    align-items: center;
    gap: 10px;  
}

.logo{
    width: 32px;
    height: auto;
}

.menu{
    text-decoration: none;
    color: #333333;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif; 
}

.search{
    background-color: transparent;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    padding: 5px 70px 5px 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.signin{
    background-color: transparent;
    border: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

.signup{
    background-color: transparent;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

.intro{
    font-size: 50px;
    font-family:"Segoe UI", "Noto Sans";
    letter-spacing: -0.07em;
    font-weight:700;
    justify-content: center;
    text-align: center;
}

.text1{
    font-size: 12px;
    font-family: "Segoe UI", "Noto Sans";
    justify-content: center;
    text-align: center;
    color: #57606a;
    margin-bottom: 20px;
    margin-top: -10px;
}

.btn{
    background-color: #212121;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.price{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

.free, .team, .enterprise {
    background-color: white;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 5px;
    box-shadow: 0 24px 48px rgba(140, 149, 159, 0.4);
}

ul {
    list-style: none;
    padding: 15px;
}

li {
    font-size: 12px;
    margin-bottom: 8px;
    position: relative;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

li::before {
    content: "›";
    position: absolute;
    left: 0;
    color: #57606a;
    font-weight: bold;
}

.free-t{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 0px;
    margin: 10px 0 5px 0;
}

.bio{
    text-align: center;
    font-family: "Segoe UI", "Noto Sans";
    font-size: 10px;
    margin: 0;
    color: #57606a;
}

.enterprise {
    border: 5px solid #0969da; 
    border-top: 20px solid #0969da;
    position: relative;
    transform: scale(1.05);
    z-index: 10;
}

.enterprise::before {
    content: "RECOMMENDED";
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0969da;
    color: white;
    padding: 2px 10px;
    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.amount, h3 {
    font-size: 32px;
    margin: 15px 0;
    text-align: center;
    font-weight: 600;
    color: #333333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.usd{
    font-size: 24px;
}

.per{
    font-size: 20px;
    color:#57606a;
}

.dol{
    color:#57606a;
    font-size: 20px;
}

.btn1{
    background-color: #212121;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana;
    font-weight: 600;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px
}

.btn2{
    background-color: transparent;
    border: 1px solid #d0d7de;
    color: #212121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    font-size: 14px;
}

.feat{
    color: #0969da;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.tre{
    margin: 0;
}

.strt{
    color: #57606a;
    background-color: transparent;
    border: 1px solid #d0d7de;
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
    width: 60px;
    align-self: center;
    border-radius: 10px;
}

.btn3{
    background-color: #212121;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.btn4{
    background-color: transparent;
    border: 1px solid #d0d7de;
    color: #212121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    font-size: 12px;
}